.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 44px;
  z-index: 1;
  min-width: 290px;
  padding: 0 10px 0 15px;
  line-height: 44px;
  height: 44px;
  background: #f8f8f8;
  text-align: center;
  color: #3cc;

  .disabled {
    opacity: 0.3;
  }
}
