.header {
  position: relative;
  display: flex;
  height: 0.44rem;
  line-height: 0.44rem;
  background: linear-gradient(90deg, #00c9e2 3%, #00e4f5 92%);

  .header-back {
    position: absolute;
    height: 100%;
  }

  .header-title {
    flex-grow: 1;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }
}
