.city-selector {
  background-color: #f5f5f5;

  .title {
    z-index: 100;
    position: sticky;
    top: 0;
    padding: 0.12rem 0.16rem;
    font-size: 14px;
    color: #616161;
    background-color: #f5f5f5;
  }

  .cities {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .city-item {
    position: relative;
    padding-left: 0.48rem;
    height: 0.37rem;
    line-height: 0.37rem;
    font-size: 16px;
    background: #fff;
    color: #212121;

    &::after {
      content: '';
      position: absolute;
      left: 0.48rem;
      bottom: 0;
      display: block;
      right: 0;
      border-bottom: 1px solid #e5e5e5;
      transform: scale(1, 0.5);
      z-index: 10;
    }
  }

  .btn-group {
    margin: 0 0.16rem;
    width: 3.15rem;
  }

  .btn-item {
    display: inline-block;
    margin-top: 0.12rem;
    width: 0.97rem;
    height: 0.37rem;
    line-height: 0.37rem;
    font-size: 16px;
    text-align: center;
    color: #212121;
    background: #fff;
    border-radius: 0.04rem;

    &:nth-of-type(3n + 2) {
      margin: 0.12rem 0.12rem 0 0.12rem;
    }
  }
}
